@import "owl.carousel.css";
@import "owl.theme.default.css";

@font-face {
  font-family: '20 Kopeek';
  src: url('../fonts/20Kopeek.eot');
  src: url('../fonts/20Kopeek.eot?#iefix') format('embedded-opentype'),
  url('../fonts/20Kopeek.woff2') format('woff2'),
  url('../fonts/20Kopeek.woff') format('woff'),
  url('../fonts/20Kopeek.ttf') format('truetype'),
  url('../fonts/20Kopeek.svg#20Kopeek') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body{
  font-family: "20 Kopeek";
  font-weight: normal;
}

header{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  color: white;
  p{
    margin-bottom: 0;
    font-size: 15px;
    line-height: 19px;
  }
  .phone{
    border: solid 1px white;
    border-radius: 10px;
    padding: 7px 27px 7px 33px;
  }
  .fab{
    text-decoration: none;
    color: white;
    border: solid 1px white;
    border-radius: 50%;
  }
  i{width: 36px;
    height: 36px;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    padding-top: 10px;
    margin-left: 20px;
  }
}

.main_banner{
  .text_banner{
    padding-top: 344px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  .banner{
    height: 100vh;
    background-position: center top;
    background-size: cover;
  }
  .banner_1{
    background-image: url("../images/011.jpg");
  }
  .banner_2{
    background-image: url("../images/012.jpg");
  }
  .banner_3{
    background-image: url("../images/013.jpg");
  }
  .banner_4{
    background-image: url("../images/014.jpg");
  }
  .btn{
    background-color: white;
    color: black;
    border-radius: 20px;
    border: none;
  }
}

.fm_style{
  padding: 70px 0 150px;
  img{
    width: 100%;
    display: block;
  }
  h3{
    font-size: 38px!important;
  }
  p{
    font-size: 18px!important;
    line-height: 25px!important;
    margin-left: 8px;
    color: #181818;
  }
  @media screen and (max-width: 992px){
    h3{
      font-size: 34px!important;
    }
    p{
      font-size: 16px!important;
      line-height: 22px!important;
    }
  }
  @media screen and (max-width: 576px){
    h3{
      font-size: 32px!important;
    }
    p{
      font-size: 15px!important;
      line-height: 21px!important;
    }
  }
  p{
    line-height: 25px;
    padding-top: 27px;
  }
  span{
    color: #181818;
    font-size: 55px;
    line-height: 55px;
  }
  a{
    font-size: 18px!important;
    line-height: 25px!important;
    color: white!important;
  }
}

.name_logo{
  h3{
    font-size: 55px;
    line-height: 55px;
  }
  span{
    font-size: 55px;
    line-height: 55px;
  }
  p{
    line-height: 25px;
    padding-top: 27px;
    font-size: 18px;
    line-height: 25px;
  }
}

.portfolio{
  article{
    margin-right: 89px;
  }
  img{
    margin-bottom: 20px;
  }
  a {
    border-radius: 1rem!important;
  }
}
.contact_email{
  margin-bottom: 100px;
}

.fm_style{
  .portfolio{
    background-color: #2B59C3;
    display: block;
    text-align: left;
  }
}

.portfolio article{
  margin-top: 20px;
}

.contact_email{
  button{
    border-radius: 1rem;
  }
  input{
    border-radius: 0.5rem;
    border-color: black;
  }
}
.step_style{
  h2{
    margin-bottom: 83px;
  }
  h3{
    font-size: 18px;
    line-height: 25px;
  }
  p{
    font-size: 15px;
    line-height: 19px;
  }
  img{
    margin-bottom: 10px;
  }
}
.guarantee{
  alignment: center;
}
.g_banner{
  position: relative;
  /*.g_text_banner{
    /*padding-top: 282px;
    position: absolute;
    top: 282px;
    left: 285px;
    width: 100%;
    z-index: 3;
  }*/
  .banner{
    height: 100vh;
    background-position: center top;
    background-size: cover;
    background-image: url("../images/Rectangle32.jpg");
  }
  h1{
    color: white;
  }
  .container{
    position: absolute;
    display: block;
    margin: auto;
    top: 282px;
    left: 285px;
    z-index: 3;
    width: 100%;
    color: white;
  }
  .leave_order{
    border-radius: 40px;
    height: 71px;
  }
  span{
    color: #181818;
    font-size: 55px;
    line-height: 55px;
    color: white;
  }
  p{
    line-height: 25px;
    padding-top: 27px;
  }
}

footer{
  .row{
    /*font size for blue blocks and copyright*/
    font-size: 18px;
    line-height: 25px;
    @media screen and (max-width: 992px){
      font-size: 16px;
      line-height: 22px;
    }
    @media screen and (max-width: 768px){
      margin-top: 28px;
    }
    @media screen and (max-width: 576px){
      font-size: 15px;
      line-height: 21px;
    }
    .portfolio{
      background-color: #2B59C3;
      display: block;
      text-align: left;
      color: white;
      &:first-child{
        padding-left: 13px;
        padding-top: 6px;
      }
      &:nth-child(2){
        padding-left: 8px;
        padding-top: 6px;
      }
    }

    /*END font size for blue blocks and copyright*/

    /*paragraph "we are on media*/
    &:first-child{
      font-size: 34px;
      line-height: 37px;
      margin-bottom: 31px;
      margin-top: 120px;
      @media screen and (max-width: 360px){
        font-size: 32px;
        line-height: 35px;
      }
    }
  /*.portfolio{
    font-size: 18px;
    line-height: 25px;
    @media screen and (max-width: 992px){
      font-size: 16px;
      line-height: 22px;
    }
    @media screen and (max-width: 768px){
      margin-top: 28px;
    }
    @media screen and (max-width: 576px){
      font-size: 15px;
      line-height: 21px;
    }*/
  }
  .copyright{
    margin-top: 38px;
    font-size: 18px;
    line-height: 25px;
    @media screen and (max-width: 992px){
      margin-top: 30px;
      font-size: 16px;
      line-height: 22px;
    }
    @media screen and (max-width: 768px){
      margin-top: 28px;
    }
    @media screen and (max-width: 576px){
      margin-top: 45px;
      font-size: 15px;
      line-height: 21px;
    }
    @media screen and (max-width: 360px){
      margin-top: 36px;
    }
  }
}