@import "owl.carousel.css";
@import "owl.theme.default.css";
header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  color: white;
}
header p {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 19px;
}
header .phone {
  border: solid 1px white;
  border-radius: 10px;
  padding: 7px 27px 7px 33px;
}
header .fab {
  text-decoration: none;
  color: white;
  border: solid 1px white;
  border-radius: 50%;
}
header i {
  width: 36px;
  height: 36px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  padding-top: 10px;
  margin-left: 20px;
}

.main_banner .text_banner {
  padding-top: 344px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.main_banner .banner {
  height: 100vh;
  background-position: center top;
  background-size: cover;
}
.main_banner .banner_1 {
  background-image: url("../images/011.jpg");
}
.main_banner .banner_2 {
  background-image: url("../images/012.jpg");
}
.main_banner .banner_3 {
  background-image: url("../images/013.jpg");
}
.main_banner .banner_4 {
  background-image: url("../images/014.jpg");
}
.main_banner .btn {
  background-color: white;
  color: black;
  border-radius: 20px;
  border: none;
}

.fm_style {
  padding: 70px 0 150px;
}
.fm_style img {
  width: 100%;
  display: block;
}
.fm_style h3 {
  font-size: 38px !important;
}
.fm_style p {
  font-size: 18px !important;
  line-height: 25px !important;
  margin-left: 8px;
  color: #181818;
}
@media screen and (max-width: 992px) {
  .fm_style h3 {
    font-size: 34px !important;
  }
  .fm_style p {
    font-size: 16px !important;
    line-height: 22px !important;
  }
}
@media screen and (max-width: 576px) {
  .fm_style h3 {
    font-size: 32px !important;
  }
  .fm_style p {
    font-size: 15px !important;
    line-height: 21px !important;
  }
}
.fm_style p {
  line-height: 25px;
  padding-top: 27px;
}
.fm_style span {
  color: #181818;
  font-size: 55px;
  line-height: 55px;
}
.fm_style a {
  font-size: 18px !important;
  line-height: 25px !important;
  color: white !important;
}

.name_logo h3 {
  font-size: 55px;
  line-height: 55px;
}
.name_logo span {
  font-size: 55px;
  line-height: 55px;
}
.name_logo p {
  line-height: 25px;
  padding-top: 27px;
  font-size: 18px;
  line-height: 25px;
}

.portfolio article {
  margin-right: 89px;
}
.portfolio img {
  margin-bottom: 20px;
}
.portfolio a {
  border-radius: 1rem !important;
}

.contact_email {
  margin-bottom: 100px;
}

.fm_style .portfolio {
  background-color: #2B59C3;
  display: block;
  text-align: left;
}

.portfolio article {
  margin-top: 20px;
}

.contact_email button {
  border-radius: 1rem;
}
.contact_email input {
  border-radius: 0.5rem;
  border-color: black;
}

.step_style h2 {
  margin-bottom: 83px;
}
.step_style h3 {
  font-size: 18px;
  line-height: 25px;
}
.step_style p {
  font-size: 15px;
  line-height: 19px;
}
.step_style img {
  margin-bottom: 10px;
}

.guarantee {
  alignment: center;
}

.g_banner {
  position: relative;
  /*.g_text_banner{
    /*padding-top: 282px;
    position: absolute;
    top: 282px;
    left: 285px;
    width: 100%;
    z-index: 3;
  }*/
}
.g_banner .banner {
  height: 100vh;
  background-position: center top;
  background-size: cover;
  background-image: url("../images/Rectangle32.jpg");
}
.g_banner h1 {
  color: white;
}
.g_banner .container {
  position: absolute;
  display: block;
  margin: auto;
  top: 282px;
  left: 285px;
  z-index: 3;
  width: 100%;
  color: white;
}
.g_banner span {
  color: #181818;
  font-size: 55px;
  line-height: 55px;
  color: white;
}
.g_banner p {
  line-height: 25px;
  padding-top: 27px;
}

footer .portfolio {
  background-color: #2B59C3;
  display: block;
  text-align: left;
  color: white;
}

/*# sourceMappingURL=style.css.map */
