@import "owl.carousel.css";
@import "owl.theme.default.css";

header{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
}

.main_banner{
  .text_banner{
    padding-top: 344px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
  }
  .banner{
    height: 100vh;
    background-position: center top;
    background-size: cover;
  }
  .banner_1{
    background-image: url("../images/011.jpg");
  }
  .banner_2{
    background-image: url("../images/012.jpg");
  }
  .banner_3{
    background-image: url("../images/013.jpg");
  }
  .banner_4{
    background-image: url("../images/014.jpg");
  }
}

.fm_style{
  padding: 70px 0 150px;
  img{
    width: 100%;
    display: block;
  }
  h3{
    font-size: 38px!important;
  }
  p{
    font-size: 18px!important;
    line-height: 25px!important;
    margin-left: 8px;
    color: #181818;
  }
  @media screen and (max-width: 992px){
    h3{
      font-size: 34px!important;
    }
    p{
      font-size: 16px!important;
      line-height: 22px!important;
    }
  }
  @media screen and (max-width: 576px){
    h3{
      font-size: 32px!important;
    }
    p{
      font-size: 15px!important;
      line-height: 21px!important;
    }
  }
  p{
    line-height: 25px;

    /*padding-top: 27px;*/
  }
  span{
    color: #181818;
    font-size: 55px;
    line-height: 55px;
  }
}

.portfolio{
  article{
    margin-right: 89px;
  }
  img{
    margin-bottom: 20px;
  }
  a {
    border-radius: 1rem!important;
  }
}
.contact_email{
  margin-bottom: 100px;
}

.fm_style{
  .portfolio{
    background-color: #2B59C3;
    display: block;
    text-align: left;
  }
}

.portfolio article{
  margin-top: 20px;
}

.contact_email{
  button{
    border-radius: 1rem;
  }
  input{
    border-radius: 0.5rem;
    border-color: black;
  }
}
.step_style{
  h2{
    margin-bottom: 83px;
  }
  h3{
    font-size: 18px;
    line-height: 25px;
  }
  p{
    font-size: 15px;
    line-height: 19px;
  }
  img{
    margin-bottom: 10px;
  }
}

.g_banner{
  position: relative;
  .g_text_banner{
    padding-top: 282px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
  }
  .banner{
    height: 100vh;
    background-position: center top;
    background-size: cover;
    background-image: url("../images/Rectangle32.jpg");
  }
  h1{
    color: white;
  }

}