@import "owl.carousel.css";
@import "owl.theme.default.css";
@font-face {
  font-family: "20 Kopeek";
  src: url("../fonts/20Kopeek.eot");
  src: url("../fonts/20Kopeek.eot?#iefix") format("embedded-opentype"), url("../fonts/20Kopeek.woff2") format("woff2"), url("../fonts/20Kopeek.woff") format("woff"), url("../fonts/20Kopeek.ttf") format("truetype"), url("../fonts/20Kopeek.svg#20Kopeek") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "20 Kopeek";
  font-weight: normal;
}

header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 3;
  color: white;
}
header p {
  margin-bottom: 0;
  font-size: 15px;
  line-height: 19px;
}
header .phone {
  border: solid 1px white;
  border-radius: 10px;
  padding: 7px 27px 7px 33px;
  display: inline-block;
}
header .phone:hover {
  transform: scale(1.1);
}
header .fab {
  text-decoration: none;
  color: white;
  border: solid 1px white;
  border-radius: 50%;
}
header .fab:hover {
  transform: scale(1.1);
}
header i {
  width: 36px;
  height: 36px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  padding-top: 10px;
  margin-left: 20px;
}

.main_banner .text_banner {
  padding-top: 344px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
}
.main_banner .banner {
  height: 100vh;
  background-position: center top;
  background-size: cover;
}
.main_banner .banner_1 {
  background-image: url("../images/011.jpg");
}
.main_banner .banner_2 {
  background-image: url("../images/012.jpg");
}
.main_banner .banner_3 {
  background-image: url("../images/013.jpg");
}
.main_banner .banner_4 {
  background-image: url("../images/014.jpg");
}
.main_banner .btn {
  background-color: white;
  color: black;
  border-radius: 40px;
  border: none;
  padding: 23px 0;
  font-size: 18px;
  line-height: 140%;
  margin-right: 20px;
  height: 71px;
  width: 186px;
}
.main_banner .btn:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 992px) {
  .main_banner .btn {
    font-size: 16px;
  }
}
@media screen and (max-width: 576px) {
  .main_banner {
    font-size: 15px;
  }
}

.fm_style {
  padding: 70px 0 150px;
}
.fm_style img {
  width: 100%;
  display: block;
}
.fm_style h3 {
  font-size: 38px !important;
}
.fm_style p {
  font-size: 18px !important;
  line-height: 25px !important;
  margin-left: 8px;
  color: #181818;
}
@media screen and (max-width: 992px) {
  .fm_style h3 {
    font-size: 34px !important;
  }
  .fm_style p {
    font-size: 16px !important;
    line-height: 22px !important;
  }
}
@media screen and (max-width: 576px) {
  .fm_style h3 {
    font-size: 32px !important;
  }
  .fm_style p {
    font-size: 15px !important;
    line-height: 21px !important;
  }
}
.fm_style p {
  line-height: 25px;
}
.fm_style span {
  color: #181818;
  font-size: 55px;
  line-height: 55px;
}
.fm_style a {
  font-size: 18px !important;
  line-height: 25px !important;
  color: white !important;
}

.name_logo h3, .name_logo span {
  font-size: 55px;
  line-height: 55px;
}
@media screen and (max-width: 1199px) {
  .name_logo h3, .name_logo span {
    font-size: 45px;
    line-height: 45px;
  }
}
@media screen and (max-width: 767px) {
  .name_logo h3, .name_logo span {
    font-size: 35px;
    line-height: 35px;
  }
}
.name_logo p {
  line-height: 25px;
  padding-top: 27px;
  font-size: 18px;
  line-height: 25px;
}
@media screen and (max-width: 1199px) {
  .name_logo p {
    font-size: 16px;
    line-height: 22px;
  }
}
@media screen and (max-width: 991px) {
  .name_logo p {
    font-size: 16px;
    line-height: 22px;
    padding-top: 0;
  }
}
@media screen and (max-width: 767px) {
  .name_logo p {
    font-size: 15px;
    line-height: 21px;
    padding-top: 13px;
    padding-left: 68px;
    max-width: 231px;
  }
}

.portfolio article {
  margin-right: 89px;
}
.portfolio img {
  margin-bottom: 20px;
}
.portfolio a {
  font-size: 18px;
  line-height: 25px;
  padding: 15px 30px;
  border-radius: 2rem !important;
}
.portfolio h2 {
  font-size: 55px;
  line-height: 55px;
}
@media screen and (max-width: 1199px) {
  .portfolio h2 {
    font-size: 45px;
    line-height: 45px;
  }
}
@media screen and (max-width: 767px) {
  .portfolio h2 {
    font-size: 35px;
    line-height: 35px;
  }
}
.portfolio p {
  font-size: 18px;
  line-height: 25px;
}
@media screen and (max-width: 1199px) {
  .portfolio p {
    font-size: 16px;
    line-height: 22px;
  }
}
@media screen and (max-width: 767px) {
  .portfolio p {
    font-size: 15px;
    line-height: 21px;
  }
}

.contact_email {
  margin-bottom: 100px;
}

.fm_style .portfolio {
  background-color: #2B59C3;
  display: block;
  text-align: left;
}
.fm_style .portfolio a {
  font-size: 18px;
  line-height: 25px;
}
.fm_style .portfolio span {
  color: white;
  font-size: 26px;
  line-height: 28px;
}

.portfolio article {
  margin-top: 20px;
}

.contact_email button {
  border-radius: 1rem;
}
.contact_email input {
  border-radius: 0.5rem;
  border-color: black;
}

.step_style h2 {
  margin-bottom: 83px;
}
.step_style h3 {
  font-size: 18px;
  line-height: 25px;
}
.step_style p {
  font-size: 15px;
  line-height: 19px;
}
.step_style img {
  margin-bottom: 10px;
}

.freelanc {
  padding: 150px 0;
}
.freelanc .row_1 .col-lg-2, .freelanc .row_next .col-lg-2, .freelanc .row_last .col-lg-2 {
  padding-top: 22px;
}
.freelanc .row_1 .col-lg-2:first-of-type, .freelanc .row_next .col-lg-2:first-of-type, .freelanc .row_last .col-lg-2:first-of-type {
  background-color: #2B59C3;
  border-radius: 10px 10px 0 0;
  font-size: 26px;
  line-height: 28px;
  color: white;
  display: flex;
}
@media screen and (max-width: 1199px) {
  .freelanc .row_1 .col-lg-2:first-of-type, .freelanc .row_next .col-lg-2:first-of-type, .freelanc .row_last .col-lg-2:first-of-type {
    font-size: 20px;
    line-height: 22px;
  }
}
.freelanc .row_1 .col-lg-2:first-of-type p, .freelanc .row_next .col-lg-2:first-of-type p, .freelanc .row_last .col-lg-2:first-of-type p {
  margin-bottom: 0;
}
.freelanc .row_1 .col-md-4:nth-child(2), .freelanc .row_1 .col-md-4:nth-child(3), .freelanc .row_1 .col-md-4:last-of-type, .freelanc .row_next .col-md-4:nth-child(2), .freelanc .row_next .col-md-4:nth-child(3), .freelanc .row_next .col-md-4:last-of-type, .freelanc .row_last .col-md-4:nth-child(2), .freelanc .row_last .col-md-4:nth-child(3), .freelanc .row_last .col-md-4:last-of-type {
  border-bottom: solid 1px #868686;
}
@media screen and (max-width: 992px) {
  .freelanc .row_1 .col-md-4:nth-child(2), .freelanc .row_1 .col-md-4:nth-child(3), .freelanc .row_1 .col-md-4:last-of-type, .freelanc .row_next .col-md-4:nth-child(2), .freelanc .row_next .col-md-4:nth-child(3), .freelanc .row_next .col-md-4:last-of-type, .freelanc .row_last .col-md-4:nth-child(2), .freelanc .row_last .col-md-4:nth-child(3), .freelanc .row_last .col-md-4:last-of-type {
    border-bottom: none;
  }
}
.freelanc .row_1 .col-md-4:nth-child(2) h3, .freelanc .row_1 .col-md-4:nth-child(3) h3, .freelanc .row_1 .col-md-4:last-of-type h3, .freelanc .row_next .col-md-4:nth-child(2) h3, .freelanc .row_next .col-md-4:nth-child(3) h3, .freelanc .row_next .col-md-4:last-of-type h3, .freelanc .row_last .col-md-4:nth-child(2) h3, .freelanc .row_last .col-md-4:nth-child(3) h3, .freelanc .row_last .col-md-4:last-of-type h3 {
  color: #868686;
  font-size: 38px;
  min-height: 84px;
  line-height: 41px;
  margin-top: 14px;
}
@media screen and (max-width: 1199px) {
  .freelanc .row_1 .col-md-4:nth-child(2) h3, .freelanc .row_1 .col-md-4:nth-child(3) h3, .freelanc .row_1 .col-md-4:last-of-type h3, .freelanc .row_next .col-md-4:nth-child(2) h3, .freelanc .row_next .col-md-4:nth-child(3) h3, .freelanc .row_next .col-md-4:last-of-type h3, .freelanc .row_last .col-md-4:nth-child(2) h3, .freelanc .row_last .col-md-4:nth-child(3) h3, .freelanc .row_last .col-md-4:last-of-type h3 {
    font-size: 34px;
    line-height: 37px;
  }
}
.freelanc .row_1 .col-md-4:nth-child(2) p, .freelanc .row_1 .col-md-4:nth-child(3) p, .freelanc .row_1 .col-md-4:last-of-type p, .freelanc .row_next .col-md-4:nth-child(2) p, .freelanc .row_next .col-md-4:nth-child(3) p, .freelanc .row_next .col-md-4:last-of-type p, .freelanc .row_last .col-md-4:nth-child(2) p, .freelanc .row_last .col-md-4:nth-child(3) p, .freelanc .row_last .col-md-4:last-of-type p {
  color: black;
  padding-top: 14px;
  font-size: 15px;
  margin-bottom: 0;
  line-height: 19px;
  padding-bottom: 26px;
}
@media screen and (max-width: 1199px) {
  .freelanc .row_1 .col-md-4:nth-child(2) p, .freelanc .row_1 .col-md-4:nth-child(3) p, .freelanc .row_1 .col-md-4:last-of-type p, .freelanc .row_next .col-md-4:nth-child(2) p, .freelanc .row_next .col-md-4:nth-child(3) p, .freelanc .row_next .col-md-4:last-of-type p, .freelanc .row_last .col-md-4:nth-child(2) p, .freelanc .row_last .col-md-4:nth-child(3) p, .freelanc .row_last .col-md-4:last-of-type p {
    font-size: 14px;
    line-height: 18px;
  }
}
.freelanc .row_1 .col-md-4:nth-child(3) {
  border: solid 4px #2B59C3;
  border-bottom: solid 1px #868686;
  border-radius: 10px 10px 0 0;
}
.freelanc .row_next .col-lg-2:first-of-type {
  border-radius: 0;
}
.freelanc .row_next .col-md-4:nth-child(3) {
  border: solid 4px #2B59C3;
  border-bottom: solid 1px #868686;
  border-top: none;
  border-radius: 0;
}
.freelanc .row_last .col-lg-2:first-of-type {
  border-radius: 0 0 10px 10px;
}
.freelanc .row_last .col-md-4:nth-child(3) {
  border: solid 4px #2B59C3;
  border-top: none;
  border-radius: 0 0 10px 10px;
}
.freelanc .row_last .col-md-4:nth-child(2), .freelanc .row_last .col-md-4:last-of-type {
  border-bottom: none;
}
@media screen and (max-width: 1024px) {
  .freelanc br {
    display: none;
  }
}

/*Guarantee block*/
.guarantee {
  background-image: url("../images/Rectangle32.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 155px;
}
.guarantee h1, .guarantee span {
  color: white;
  font-size: 55px;
  line-height: 55px;
  padding: 0;
  margin-top: 282px;
  margin-left: 285px;
}
@media screen and (max-width: 1199px) {
  .guarantee h1, .guarantee span {
    font-size: 45px;
    line-height: 45px;
    margin-top: 97px;
    margin-left: 47px;
  }
}
@media screen and (max-width: 991px) {
  .guarantee h1, .guarantee span {
    margin-top: 32px;
    margin-left: 43px;
  }
}
.guarantee span {
  margin-top: 0;
}
.guarantee p {
  color: white;
  font-size: 10px;
  line-height: 19px;
  position: relative;
  top: 20px;
}

/*END block Guarantee*/
/*Contact Us block*/
/*END contact us block*/
.contact_us {
  padding-top: 150px;
}
.contact_us .col-lg-6 p {
  font-size: 38px;
  line-height: 41px;
}
.contact_us .col-lg-6 .contacts p {
  font-size: 26px;
  line-height: 28px;
}
.contact_us .col-lg-6 .form-control {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 25px;
  height: 61px;
  border-radius: 10px;
}
.contact_us .form-check {
  margin-left: 15px;
  margin-top: 11px;
  margin-bottom: 48px;
}
.contact_us .btn {
  margin-top: 21px;
  border-radius: 40px;
  height: 71px;
  margin-bottom: 60px;
}

footer .col-12 {
  /*font size for blue blocks and copyright*/
  /*END font size for blue blocks and copyright*/
  /*paragraph "we are on media*/
}
footer .col-12:first-of-type {
  font-size: 38px;
  line-height: 41px;
  padding-top: 127px;
}
@media screen and (max-width: 991px) {
  footer .col-12:first-of-type {
    font-size: 34px;
    line-height: 37px;
    padding-top: 120px;
  }
}
@media screen and (max-width: 575px) {
  footer .col-12:first-of-type {
    padding-top: 90px;
  }
}
@media screen and (max-width: 360px) {
  footer .col-12:first-of-type {
    font-size: 32px;
    line-height: 35px;
  }
}
footer .col-12:nth-child(2), footer .col-12:nth-child(3), footer .col-12:nth-child(4), footer .col-12:nth-child(5) {
  background-color: #2B59C3;
  border-radius: 10px;
  display: block;
  text-align: left;
  padding: 0;
  max-width: 255px;
}
@media screen and (max-width: 1199px) {
  footer .col-12:nth-child(2), footer .col-12:nth-child(3), footer .col-12:nth-child(4), footer .col-12:nth-child(5) {
    max-width: 210px;
  }
}
@media screen and (max-width: 767px) {
  footer .col-12:nth-child(2), footer .col-12:nth-child(3), footer .col-12:nth-child(4), footer .col-12:nth-child(5) {
    max-width: 220px;
    margin-bottom: 31px;
  }
}
footer .col-12:nth-child(2) a, footer .col-12:nth-child(3) a, footer .col-12:nth-child(4) a, footer .col-12:nth-child(5) a {
  color: white;
  font-size: 18px;
  line-height: 25px;
}
@media screen and (max-width: 1199px) {
  footer .col-12:nth-child(2) a, footer .col-12:nth-child(3) a, footer .col-12:nth-child(4) a, footer .col-12:nth-child(5) a {
    font-size: 16px;
    line-height: 22px;
  }
}
footer .copyright {
  margin-top: 38px;
  font-size: 18px;
  line-height: 25px;
}
@media screen and (max-width: 991px) {
  footer .copyright {
    margin-top: 30px;
    font-size: 16px;
    line-height: 22px;
  }
}
@media screen and (max-width: 767px) {
  footer .copyright {
    margin-top: 28px;
  }
}
@media screen and (max-width: 575px) {
  footer .copyright {
    margin-top: 45px;
    font-size: 15px;
    line-height: 21px;
  }
}
@media screen and (max-width: 359px) {
  footer .copyright {
    margin-top: 36px;
  }
}

/*# sourceMappingURL=style.css.map */
